{{ header('News', {'js': 'bbcode,news_ajax'}) }}
<div class="thin">
    <div class="sidebar">

{% if viewer.permitted('users_mod') %}
    {% set read = staff_blog.readBy(viewer) %}
    <div class="box">
        <div class="head colhead_dark">
            <strong><a href="staffblog.php">Latest staff blog posts</a></strong>
        </div>
        <ul class="stats nobullet">
        {% for article in staff_blog.blogList[0:5] %}
            {% set unread = read < article.epoch %}
            <li>{% if unread %}<strong>{% endif %}<a href="staffblog.php#blog{{ article.id }}">{{ article.title }}</a>{% if unread %}</strong>{% endif %}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="box">
        <div class="head colhead_dark"><strong><a href="blog.php">Latest blog posts</a></strong></div>
        <ul class="stats nobullet">
        {% for article in blog.headlines[0:5] %}
            <li>{{ article.link|raw }}</li>
        {% endfor %}
        </ul>
    </div>

    <div class="box">
        <div class="head colhead_dark"><strong>Stats</strong></div>
        <ul class="stats nobullet">
        {% if constant('USER_LIMIT') > 0 %}
            {% set user_count = user_stats.enabledUserTotal %}
            <li>Maximum users: {{ constant('USER_LIMIT')|number_format }}</li>
        {% endif %}
            <li>Enabled users: {{ user_count|number_format }} <a href="stats.php?action=users" class="brackets">Details</a></li>
            <li>Users active today: {{ user_stats.dayActiveTotal }} ({{ (user_stats.dayActiveTotal / user_count * 100)|number_format(2) }}%)</li>
            <li>Users active this week: {{ user_stats.weekActiveTotal }} ({{ (user_stats.weekActiveTotal / user_count * 100)|number_format(2) }}%)</li>
            <li>Users active this month: {{ user_stats.monthActiveTotal }} ({{ (user_stats.monthActiveTotal / user_count * 100)|number_format(2) }}%)</li>
        </ul>
    </div>

    </div>
