{% from 'macro/paranoia.twig' import class_override, override %}
{% set user_id = user.id %}
{% set viewer_id = viewer.id %}
{% set own_profile = user_id == viewer_id %}
<div class="thin">
    <div class="header">
        <h2>{{ user.username }}
{% if donor.isDonor and (own_profile or donor.isVisible or viewer.permitted('users_override_paranoia')) %}
        &nbsp;{{ donor.heart(viewer)|raw -}}
{% endif -%}
{% if user.isWarned -%}
        &nbsp;<a href="wiki.php?action=article&amp;name=warnings"><img src="{{
            constant('STATIC_SERVER') }}/common/symbols/warned.png" alt="Warned" title="Warned
{%  if own_profile or viewer.permitted('users_mod') %} – Expires {{ user.warningExpiry }}{% endif %}" class="tooltip" /></a>
{% endif %}
{% if user.isDisabled %}
        &nbsp;<a href="rules.php"><img src="{{ constant('STATIC_SERVER') }}/common/symbols/disabled.png" alt="Banished" title="Naughty person" class="tooltip" /></a>
{% endif -%}
{% for badge, name in user.privilege.badgeList %}
            <span class="tooltip secondary_class" title="{{ name }}">{{ badge }}</span>
{% endfor %}
{% if friend.isMutual(user) %}<span title="The feeling is mutual (awww!)">💕</span>
{% elseif friend.isFriend(user) %}<span title="You like them (aww!)">💖</span>
{% endif %}
{% if user.title -%}
            <span class="user_title">{{ user.title|raw }}</span>
{%- endif -%}
        </h2>
    </div>

    <div class="linkbox">
{% if own_profile or viewer.permitted('users_edit_profiles') %}
        <a href="user.php?action=edit&amp;id={{ user_id }}" class="brackets">Settings</a>
{% endif %}
{% if not own_profile %}
        <a href="inbox.php?action=compose&amp;toid={{ user_id }}" class="brackets" title="Send a private message">Send PM</a>
{%  if not friend.isFriend(user) %}
        <a href="friends.php?action=add&amp;friendid={{ user_id }}&amp;auth={{ viewer.auth }}" class="brackets">Add to friends</a>
{%  endif %}
{% endif %}
{% if own_profile %}
        <a href="friends.php" class="brackets">Friends</a>
{% endif %}
{% if own_profile or viewer.permittedAny('users_logout', 'users_view_ips') %}
        <a href="user.php?id={{ user_id }}&amp;action=sessions" class="brackets">Sessions</a>
{%  if viewer.permittedAny('users_logout', 'users_view_ips') %}
        <a href="tools.php?action=user_info&amp;userid={{ user_id }}" class="brackets">Email/IP info</a>
{%  endif %}
{% endif %}
{% if viewer.permitted('users_mod') %}
        <a href="user.php?id={{ user_id }}&amp;action=audit" class="brackets">Audit</a>
{% endif %}
{% if viewer.permitted('admin_clear_cache') and viewer.permitted('users_override_paranoia') %}
        <a href="user.php?action=clearcache&amp;id={{ user_id }}" class="brackets">Clear cache</a>
{% endif %}
{% if viewer.permitted('admin_manage_permissions') %}
        <a href="user.php?action=permissions&amp;userid={{ user_id }}" class="brackets">Custom Privileges</a>
{% endif %}
    </div>

<div class="sidebar">

{% if viewer.showAvatars %}
<div class="box box_image box_image_avatar">
    <div class="head colhead_dark">Avatar</div>
    <div align="center">{{ user|avatar(viewer)|raw }}</div>
</div>
{% endif %}

{# Freeleech tokens and torrent client details removed #}
<div class="box box_info box_userinfo_stats">
    <div class="head colhead_dark">Statistics</div>
    <ul class="stats nobullet">
        <li>Joined: {{ user.created|time_diff }}
            {%- if (own_profile or viewer.permitted('users_mod')) and user.MFA.enabled -%}
            <span class="tooltip" style="color: #008000" title="2FA enabled!"> ✔</span>
            {%- endif -%}
        </li>
{% set visible = user.propertyVisible(preview_user, 'lastseen') %}
{% if visible == constant('PARANOIA_HIDE') and not user.isStaff and viewer.permitted('view_last_seen') %}
{%  set visible = constant('PARANOIA_OVERRIDE') %}
{% endif %}
{% if visible %}
        <li{{ class_override(visible) }}>Last seen: {% if viewer.id == user.id or viewer.isStaff -%}
    {{- user.lastAccessRealtime|time_diff -}}
{%  else %}
    {{- user.lastAccess|time_diff -}}
{%  endif %}
    </li>
{% endif %}

{# Upload/download statistics removed #}

{% set visible = user.propertyVisible(preview_user, 'bonuspoints') %}
{% if visible %}
{%  if viewer.permitted('admin_bp_history') %}
        <li{{ class_override(visible) }}>Bonus Points: {{ user.bonusPointsTotal|number_format }}
            <a href="bonus.php?action=history&amp;userid={{ user_id }}" class="brackets">History</a></li>
        <li{{ class_override(visible) }}><a href="bonus.php?action=bprates&amp;userid={{ user_id }}">Points Per Hour</a>: {{ bonus.hourlyRate|number_format(2) }}
{%  elseif own_profile %}
        <li{{ class_override(visible) }}>Bonus Points: {{ user.bonusPointsTotal|number_format }}
            <a href="bonus.php?action=history" class="brackets">History</a></li>
        <li{{ class_override(visible) }}><a href="bonus.php?action=bprates">Points Per Hour</a>: {{ bonus.hourlyRate|number_format(2) }}
{%  else %}
        <li{{ class_override(visible) }}>Bonus Points: {{ user.bonusPointsTotal|number_format }}</li>
        <li{{ class_override(visible) }}>Points Per Hour: {{ bonus.hourlyRate|number_format(2) }}
{%  endif %}
{% endif %}

{% if user.isWarned and (own_profile or viewer.permitted('users_mod')) %}
        <li{{ class_override(viewer.permitted('users_mod') ? constant('PARANOIA_OVERRIDDEN') : constant('PARANOIA_ALLOWED'))
            }}>Warning expires in: {{ user.warningExpiry|time_diff }}</li>
{% endif %}
    </ul>
</div>
