{% macro class_override(val) %}
{% if val == constant('PARANOIA_OVERRIDDEN') %} class="paranoia_override"{% endif %}
{% endmacro %}
{% macro override(val) %}
{% if val == constant('PARANOIA_OVERRIDDEN') %} paranoia_override{% endif %}
{% endmacro %}
{% set stats = user.stats %}
{% if viewer.isStaff %}
<div class="hidden info-paster">
Uploaded: {{ upload_total|number_format }} (perfect {{ stats.perfectFlacTotal|number_format }})
Downloaded: {{ stats.downloadTotal|number_format }}
</div>
{% endif %}
<div class="box box_info box_userinfo_community">
    <div class="head colhead_dark">Community</div>
    <ul class="stats nobullet">
        <li id="comm_posts">Forum threads: {{ stats.forumThreadTotal|number_format }}
{% if stats.forumThreadTotal %}
            <a href="userhistory.php?action=topics&amp;userid={{ user.id }}" class="brackets">View</a>
{% endif %}
        </li>
        <li id="comm_posts">Forum posts: {{ stats.forumPostTotal|number_format }}
{% if stats.forumPostTotal %}
            <a href="userhistory.php?action=posts&amp;userid={{ user.id }}" class="brackets">View</a>
{% endif %}
        </li>
{% if visible['torrentcomments+'] %}
        <li id="comm_torrcomm"{{ _self.class_override(visible['torrentcomments+']) }}>Torrent comments: {{ stats.commentTotal('torrents')|number_format }}
    {% if stats.commentTotal('torrents') and visible['torrentcomments'] %}
            <a href="comments.php?id={{ user.id }}" class="brackets{{ _self.override(visible['torrentcomments']) }}">View</a>
    {% endif %}
        </li>
        <li id="comm_artcomm"{{ _self.class_override(visible['torrentcomments']) }}>Artist comments: {{ stats.commentTotal('artist')|number_format }}
    {% if stats.commentTotal('artist') and visible['torrentcomments'] %}
            <a href="comments.php?id={{ user.id }}&amp;action=artist" class="brackets{{ _self.override(visible['torrentcomments']) }}">View</a>
    {% endif %}
        </li>
        <li id="comm_reqcomm"{{ _self.class_override(visible['torrentcomments']) }}>Request comments: {{ stats.commentTotal('requests')|number_format }}
    {% if stats.commentTotal('requests') and visible['torrentcomments'] %}
            <a href="comments.php?id={{ user.id }}&amp;action=requests" class="brackets{{ _self.override(visible['torrentcomments']) }}">View</a>
    {% endif %}
        </li>
{% endif %}




{% if visible['uploads+'] %}
        <li id="comm_upload"{{ _self.class_override(visible['uploads+']) }}>Uploaded: {{ upload_total|number_format }}
    {% if upload_total and visible['uploads'] %}
            <a href="torrents.php?type=uploaded&amp;userid={{ user.id }}" class="brackets{{ _self.override(visible['uploads']) }}">View</a>
        {% if viewer.permitted('zip_downloader') and (user.id == viewer.id or viewer.isStaff) %}
            <a id="collect-upload" href="torrents.php?action=redownload&amp;type=uploads&amp;userid={{
                user.id }}" class="brackets{{ _self.override(visible['uploads']) }}">Download</a>
        {% endif %}
    {% endif %}
        </li>
{% endif %}

{% if visible['uniquegroups+'] %}
        <li id="comm_uniquegroup"{{ _self.class_override(visible['uniquegroups+']) }}>Unique groups: {{ stats.uniqueGroupTotal|number_format }}
    {% if stats.uniqueGroupTotal and visible['uniquegroups'] %}
            <a href="torrents.php?type=uploaded&amp;userid={{ user.id }}&amp;filter=uniquegroup" class="brackets{{ _self.override(visible['uniquegroups']) }}">View</a>
    {% endif %}
        </li>
{% endif %}

{% if visible['perfectflacs+'] %}
        <li id="comm_perfectflac"{{ _self.class_override(visible['perfectflacs+']) }}>"Perfect" FLACs: {{ stats.perfectFlacTotal|number_format }}
    {% if stats.perfectFlacTotal and visible['perfectflacs'] %}
            <a href="torrents.php?type=uploaded&amp;userid={{ user.id }}&amp;filter=perfectflac" class="brackets{{ _self.override(visible['perfectflacs']) }}">View</a>
    {% endif %}
        </li>
{% endif %}

{% if visible['downloaded'] %}
        <li id="comm_downloaded"{{ _self.class_override(visible['downloaded']) }}>Downloaded: {{ stats.downloadTotal|number_format }}
    {% if stats.downloadTotal != stats.downloadUnique %} ({{ stats.downloadUnique|number_format }} unique){% endif %}
    {% if stats.downloadTotal %}
            <a href="torrents.php?type=downloaded&amp;userid={{ user.id }}" class="brackets">View</a>
    {% endif %}
        </li>
{% endif %}

{# seed, leech, snatch, and ratio metrics removed #}
    </ul>
</div>
