{% macro class_override(val) %}
{% if val == constant('PARANOIA_OVERRIDDEN') %} class="paranoia_override"{% endif %}
{% endmacro %}
{% macro override(val) %}
{% if val == constant('PARANOIA_OVERRIDDEN') %} paranoia_override{% endif %}
{% endmacro %}
{% set stats = user.stats %}
{% if viewer.isStaff %}
<div class="hidden info-paster">
Uploaded: 0 (perfect 0)
Downloaded: 0
Leeching: 0
Snatched: 0
Seeding: 0
</div>
{% endif %}
<div class="box box_info box_userinfo_community">
    <div class="head colhead_dark">Community</div>
    <ul class="stats nobullet">
        <li id="comm_posts">Forum threads: {{ stats.forumThreadTotal|number_format }}
{% if stats.forumThreadTotal %}
            <a href="userhistory.php?action=topics&amp;userid={{ user.id }}" class="brackets">View</a>
{% endif %}
        </li>
        <li id="comm_posts">Forum posts: {{ stats.forumPostTotal|number_format }}
{% if stats.forumPostTotal %}
            <a href="userhistory.php?action=posts&amp;userid={{ user.id }}" class="brackets">View</a>
{% endif %}
        </li>
{% if visible['torrentcomments+'] %}
        <li id="comm_torrcomm"{{ _self.class_override(visible['torrentcomments+']) }}>Torrent comments: 0 (Torrent system disabled for music catalog)</li>
        <li id="comm_artcomm"{{ _self.class_override(visible['torrentcomments']) }}>Artist comments: {{ stats.commentTotal('artist')|number_format }}
    {% if stats.commentTotal('artist') and visible['torrentcomments'] %}
            <a href="comments.php?id={{ user.id }}&amp;action=artist" class="brackets{{ _self.override(visible['torrentcomments']) }}">View</a>
    {% endif %}
        </li>
        <li id="comm_collcomm"{{ _self.class_override(visible['torrentcomments']) }}>Collage comments: {{ stats.commentTotal('collages')|number_format }}
    {% if stats.commentTotal('collages') and visible['torrentcomments'] %}
            <a href="comments.php?id={{ user.id }}&amp;action=collages" class="brackets{{ _self.override(visible['torrentcomments']) }}">View</a>
    {% endif %}
        </li>
        <li id="comm_reqcomm"{{ _self.class_override(visible['torrentcomments']) }}>Request comments: 0 (Request system disabled for music catalog)</li>
{% endif %}

{% if visible['collages+'] %}
        <li id="comm_collstart"{{ _self.class_override(visible['collages+']) }}>Collages started: {{ stats.collageTotal|number_format }}
    {% if stats.collageTotal and visible['collages'] %}
            <a href="collages.php?userid={{ user.id }}" class="brackets{{ _self.override(visible['collages']) }}">View</a>
    {% endif %}
        </li>
{% endif %}

{% if visible['collagecontribs+'] %}
        <li id="comm_collcontrib"{{ _self.class_override(visible['collagecontribs+']) }}>Collages contributed to: {{ stats.collageContrib|number_format }}
    {% if stats.collageContrib and visible['collagecontribs'] %}
            <a href="collages.php?userid={{ user.id }}&amp;contrib=1" class="brackets{{ _self.override(visible['collagecontribs']) }}">View</a>
    {% endif %}
        </li>
{% endif %}

{% if visible['requestsvoted_count'] or visible['requestsvoted_bounty'] %}
        <li>
            <span>Requests created: 0 (Request system disabled for music catalog)</span>
        </li>
        <li>
            <span>Requests voted: 0 (Request system disabled for music catalog)</span>
        </li>
{% endif %}

{% if visible['requestsfilled_count'] or visible['requestsfilled_bounty'] %}
        <li>
            <span>Requests filled: 0 (Request system disabled for music catalog)</span>
        </li>
{% endif %}

{% if visible['uploads+'] %}
        <li id="comm_upload"{{ _self.class_override(visible['uploads+']) }}>Uploaded: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if visible['uniquegroups+'] %}
        <li id="comm_uniquegroup"{{ _self.class_override(visible['uniquegroups+']) }}>Unique groups: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if visible['perfectflacs+'] %}
        <li id="comm_perfectflac"{{ _self.class_override(visible['perfectflacs+']) }}>"Perfect" FLACs: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if visible['downloaded'] %}
        <li id="comm_downloaded"{{ _self.class_override(visible['downloaded']) }}>Downloaded: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if visible['leeching+'] %}
        <li id="comm_leeching"{{ _self.class_override(visible['leeching+']) }}>Leeching: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if visible['snatched+'] or viewer.permitted('site_view_torrent_snatchlist') %}
        <li id="comm_snatched"{{ _self.class_override(visible['snatched+']) }}>Snatched: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if visible['seeding+'] %}
        <li id="comm_seeding"{{ _self.class_override(visible['seeding+']) }}>Seeding: 0 (Torrent system disabled for music catalog)</li>
{% endif %}

{% if user.id == viewer.id or viewer.isStaff %}
        <li id="comm_dl_factor">Download factor: <span class="tooltip" title="Torrent system disabled for music catalog">N/A</span></li>
{% endif %}
    </ul>
</div>
